body{
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    text-align: start;
    
    height: 500px;
    font-size: 20px;
}

.items{
    background: #FFC312;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.item__2, .item__4{
    align-self: center;
}

.item__1, .item__5{
    align-self: flex-end;
}

